body.home {
    background-color: white;
        margin: 0;
    padding: 0;
    height: 200vh;
}

body.login {
    background-color: black;
}

.header{
    background-color: rgb(23, 78, 26);
}
.color-header{
    background-color: rgba(10, 10, 10, 0);
}
a img{
    width: 15vh;
}

 /* enable scrolling */


  /* Fixed background image */
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    z-index: -1;
    text-align: center;
  }

  /* Foreground video */
  .parallax-video {
    transform: translateY(0);
    transition: transform 0.1s linear;
  }

  .circle {
    background-color: rgba(0, 0, 0, 0.692);
    padding: 8px;
    border-radius: 25px;
  }